@model Canta_Book.Models.Book
@{
    ViewData["Title"] = "Create";
    List<Author>? lAuthor = ViewData["lAuthor"] as List<Author>;
}

<h1>Incluir novo livro</h1>

<form action="/Books/Create" method="post">
    <label>Nome:</label>
    <input asp-for="BookTitle" class="form-control mb-2" required />
    <label>Descrição:</label>
    <input asp-for="Description" class="form-control mb-2" required />
    <label>Genero:</label>
    <input asp-for="Genre" class="form-control mb-2" required />
    <label>Autor:</label>

    @if (lAuthor != null)
    {
        <select asp-for="AuthorID" class="form-control mb-2" required>
            @{
                <option value="">Selecione ...</option>
                foreach (var item in lAuthor)
                {
                    <option value="@item.AuthorID">@item.AuthorName</option>
                }
            }
        </select>
    }
    else
    {
        <span>
            Gravado com sucesso.
        </span>
    }


    <button type="submit" class="btn btn-primary mb-2">
        gravar
    </button>
</form>
<a asp-action="Index">Voltar</a>


