@model IEnumerable<Canta_Book.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container min-widt">
    <div class="row" style="height: 70px;text-align: center; margin-bottom:5px">
        <button type="button" class="btn btn-secondary btn-sm col-sm" style="margin-left: 1150px;">Books Control</button>
    </div>
</div>
<div class="card bg-dark text-white" style="height: 70px;text-align: center; margin-bottom:15px">
    @* <img class="card-img" src="@Url.Content("~/images/banner.jpg")" alt="Card image"> *@
    <div class="card-img-overlay">
        <h1 class="card-title">Library</h1>
        @* <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p> *@
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">@Html.DisplayNameFor(model => model.BookTitle) @Html.DisplayNameFor(model => model.Description)</div>
        <button type="button" class="btn btn-primary btn-sm col-sm" style="margin: 0px 20px 0px 20px;">Criar</button>
        <button type="button" class="btn btn-info btn-sm col-sm" style="margin: 0px 20px 0px 20px;">Editar</button>
        <button type="button" class="btn btn-danger btn-sm col-sm" style="margin: 0px 20px 0px 20px;">Remover</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">Book</div>
        <button type="button" class="btn btn-primary btn-sm col-sm" style="margin: 0px 20px 0px 20px;">Criar</button>
        <button type="button" class="btn btn-info btn-sm col-sm" style="margin: 0px 20px 0px 20px;">Editar</button>
        <button type="button" class="btn btn-danger btn-sm col-sm" style="margin: 0px 20px 0px 20px;">Remover</button>
    </div>
</div>