@model Canta_Book.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Usuário</h1>

<h3>Tem certeza que deseja deletar esse usuário?</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Email
                </th>
                <th>
                    Histórico
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.Historic)
                </td>
            </tr>          
        </tbody>
    </table>    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserID" />
        <input type="submit" value="Delete" class="btn btn-danger mb-2" /> 
        </br>
        <a asp-action="Index">Voltar</a>
    </form>
</div>

