@{
    ViewData["Title"] = "Home Page";
}

<div class="card bg-dark text-white" style="height: 70px;text-align: center; margin-bottom:15px">
    @* <img class="card-img" src="@Url.Content("~/images/banner.jpg")" alt="Card image"> *@
    <div class="card-img-overlay">
        <h1 class="card-title">User Info</h1>
        @* <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p> *@
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">User Name</div>
        <div class="col-sm">Historic</div>
        <div class="col-sm">Mail</div>
        <button type="button" class="btn btn-primary btn-sm col-sm" style="margin: 0px 20px 0px 20px;">Criar</button>
        <button type="button" class="btn btn-info btn-sm col-sm" style="margin: 0px 20px 0px 20px;">Editar</button>
        <button type="button" class="btn btn-danger btn-sm col-sm" style="margin: 0px 20px 0px 20px;">Remover</button>
    </div>
</div>
