@model Canta_Book.Models.BookReader

@{
    ViewData["Title"] = "Create";
    List<User>? lUser = ViewData["lUser"] as List<User>;
    List<Book>? lBook = ViewData["lBook"] as List<Book>;
}

<h1>Escolher livro</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label class="control-label">Usuário</label>
                <select asp-for="User.UserName" class="form-control mb-2" required>
                    @{
                        <option value="">Selecione ...</option>
                        foreach (var item in lUser)
                        {
                            <option value="@item.UserID">@item.UserName</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Livro</label>
                <select asp-for="Book.BookTitle" class="form-control mb-2" required>
                    @{
                        <option value="">Selecione ...</option>
                        foreach (var item in lBook)
                        {
                            <option value="@item.BookID">@item.BookTitle</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Avaliação</label>
                <input asp-for="BookRate" class="form-control" />
                <span asp-validation-for="BookRate" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Data</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Comentário</label>
                <input asp-for="BookComment" class="form-control" />
                <span asp-validation-for="BookComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

